---
services:
  cloudflare-ddns-proxied:
    image: favonia/cloudflare-ddns:1.15.1
    restart: always
    user: "{{ user_info.uid }}:{{ user_info.uid }}"
    environment:
      - DOMAINS={{ cloudflare_ddns_proxied_domains | join(',') }}
      - PROXIED=true
      - IP6_PROVIDER=none
      - CLOUDFLARE_API_TOKEN_FILE=/run/secrets/cf-token
    secrets:
      - cf-token

  cloudflare-ddns-non-proxied:
    image: favonia/cloudflare-ddns:1.15.1
    restart: always
    user: "{{ user_info.uid }}:{{ user_info.uid }}"
    environment:
      - DOMAINS={{ cloudflare_ddns_non_proxied_domains | join(',') }}
      - PROXIED=false
      - IP6_PROVIDER=none
      - CLOUDFLARE_API_TOKEN_FILE=/run/secrets/cf-token
    secrets:
      - cf-token

secrets:
  cf-token:
    file: {{ app_path }}/token
